<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:gfe="http://www.springframework.org/schema/gemfire"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	      http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
	      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <util:properties id="gemfire-props">
        <prop key="log-level">warning</prop>
    </util:properties>

    <gfe:cache properties-ref="gemfire-props"/>

    <gfe:cache-server port="#{portGenerator.generatePort(40500,40502)}"/>

    <gfe:partitioned-region id="CustomerPartitioned">
        <gfe:cache-listener>
            <bean class="org.antczak.gemfire.server.listeners.LoggingCacheListener"/>
        </gfe:cache-listener>
    </gfe:partitioned-region>

    <gfe:replicated-region id="CustomerReplicated">
        <gfe:cache-listener>
            <bean class="org.antczak.gemfire.server.listeners.LoggingCacheListener"/>
        </gfe:cache-listener>
    </gfe:replicated-region>

    <gfe:local-region id="CustomerLocal"/>

    <bean id="portGenerator" class="org.antczak.gemfire.server.utils.ServerPortGenerator"/>

</beans>
