<?xml version="1.0" encoding="utf-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/gemfire"
             xmlns:util="http://www.springframework.org/schema/util"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="
	      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	      http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
	      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="gemfire-props">
        <beans:prop key="log-level">warning</beans:prop>
    </util:properties>

    <client-cache properties-ref="gemfire-props"/>

    <client-region id="Order" data-policy="EMPTY"/>

    <pool>
        <server host="localhost" port="40404"/>
        <server host="localhost" port="40405"/>
        <server host="localhost" port="40406"/>
    </pool>


</beans:beans>
