<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:gfe="http://www.springframework.org/schema/gemfire"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
	        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="gemfire-props">
        <prop key="log-level">warning</prop>
    </util:properties>

    <gfe:pool id="pool">
        <gfe:server host="localhost" port="40500"/>
        <gfe:server host="localhost" port="40501"/>
        <gfe:server host="localhost" port="40502"/>
    </gfe:pool>

    <gfe:client-cache pool-name="pool"/>

    <gfe:client-region id="Customer">
        <gfe:cache-listener>
            <bean class="org.antczak.gemfire.client.listeners.LoggingCacheListener"/>
        </gfe:cache-listener>
    </gfe:client-region>

    <bean id="gemfireTemplate" class="org.springframework.data.gemfire.GemfireTemplate" p:region-ref="Customer"/>

</beans>
